{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Category List" %}{% endblock title %}

{% block content %}
<div class="container mt-3">    
    <h1 class="h1 border-bottom pb-3 border-light border-opacity-25">{% trans "Category List" %} <a href="{% url 'addcategory' %}" class="btn btn3">{% trans "Add Category" %}</a></h1>
    {% for category in category_list %}
    <div class='card' style="border-color: #8B4513;">
        {% comment %} <div class='card-header'>
            <span class='font-weight-bold'>{{ category.category_name_en }}</span> &middot;
            <span class='text-muted'>
                by {{ category.author_id }}
            </span>
        </div> {% endcomment %}
        <div class='card-body'>
            <table style="width:100%;">
                <tr>
                  <th style="text-align: center; width: 10%">{% trans "Category Number" %}</th>
                  <th style="text-align: center; width: 30%">{% trans "Category Name in Russian" %}</th> 
                  <th style="text-align: center; width: 30%">{% trans "Category Name in English" %}</th>
                  <th style="text-align: center; width: 30%">{% trans "Category Name in Chinese" %}</th>
                </tr>
                <tr>
                  <td style="text-align: center;">{{ category.category_number }}</td>
                  <td style="text-align: center;">{{ category.category_name_ru }}</td> 
                  <td style="text-align: center;">{{ category.category_name_en }}</td>
                  <td style="text-align: center;">{{ category.category_name_zh_hans }}</td>
                </tr>
              </table>
    
        </div>
        <div class='card-footer text-center' style="background: #FFE4B5;">
            <a href="{% url 'category_edit' category.pk %}" class="btn btn3">{% trans 'Edit' %}</a>
            <a href="{% url 'category_delete' category.pk %}" class="btn btn3">{% trans 'Delete' %}</a>
        </div>
    </div>
    <br>    
    {% endfor %}
</div>
{% endblock content %}