{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "WOODNUTS" %}{% endblock title %}

{% block content %}
<!-- carousel -->
<section class="bg-dark">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'images/hazelnut333.webp' %}" class="d-block w-100" alt="hazelnut">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="{% static "images/peanuts333.webp" %}" class="d-block w-100" alt="peanuts">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="{% static "images/breakfast333.webp" %}" class="d-block w-100" alt="breakfast">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="{% static 'images/mindal333.webp' %}" class="d-block w-100" alt="mindal">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{% trans "Previous" %}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{% trans "Next" %}</span>
        </button>
      </div>
</section>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in page_obj%}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    {% if item.item_extra_tag %}
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{% trans item.item_extra_tag %}</div>
                    {% endif %}
                    <!-- Product image-->
                    <a href="{% url 'item_detail_for_clients' item.id %}" style="text-decoration: none; color: black;">
                        <img class="card-img-top" src="{{ item.item_picture.url }}" alt="{{ item.item_name }}" /></a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"><a href="{% url 'item_detail_for_clients' item.id %}" style="text-decoration: none; color: black;">{{ item.item_name }}</a></h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            {% if item.item_price_extra_new %}
                            <span class="text-muted text-decoration-line-through">{{ item.item_price }}</span>
                            {{ item.item_price_extra_new }} {{ item.item_price_currency }}
                            {% else %}
                            {{ item.item_price }} {{ item.item_price_currency }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="container text-center">
                        <form class="row align-items-center" action="{% url 'cart_add' item.id %}" method="post">
                          <div class="col ms-3">
                          {{ cart_product_form }}
                          {% csrf_token %}
                          </div>
                          <div class="col me-3 ps-2">
                          <input type="submit" class="btn btn-outline-dark mt-auto" value="{% trans 'Add to cart' %}">
                          </div>
                        </form>  
                      </div>
                      {% comment %} <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">{% trans "Add to cart" %}</a></div> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}